.fast-filters {
  margin-bottom: 12px;
  .fast-filter, .fast-remover {
    cursor: pointer;
    display: inline-block;
    background-color: #78909c;
    color: #eceff1;
    margin-right: 4px;
    padding: 1px 10px 1px 3px;
    border-radius: 9px;
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    &:hover > span:first-child > i {
      color: #cfd8dc;
    }
    span:first-child {
      i {
        font-size: 20px;
        margin-right: 4px;
        color: #b0bec5;
      }
    }
    span:last-child {
      line-height: 20px;
    }
  }
  .fast-remover {
    padding: 1px 2px;
    border-radius: 12px;
    /*background-color: #E65100;*/
    &:hover > span:first-child > i {
      color: #F57C00;
    }
    span:first-child {
      i {
        /*color: #FFCCBC;*/
        margin-right: 0px;
      }
    }
  }
}

.table-collapsible.collapsed {
  .fast-filters {
    margin-bottom: 0;
    overflow: hidden;
    height: 0;
  }
}
