.table-main {
  overflow-x: auto;
}


table {
  width: 100%;
  margin-bottom: 16px;
  border-collapse: collapse;
  position: relative;
  table-layout: fixed;
  tr {
    height: 28px;
    border-bottom: 1px solid #e0e0e0;
  }
  > tbody > tr {
    &:nth-child(even) {
      background-color: #fafafa;
    }
    &:hover {
      background-color: #EEE !important;
    }
  }
  tr.incident-card-row {
    border-bottom: 1px solid #e0e0e0;
  }
  tr.active, tr.active:hover {
    background-color: #e0e0e0 !important;
    border-bottom-color: #bdbdbd !important;
    > td {
      border-top: 1px solid #bdbdbd !important;
    }
  }
  th, td {
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    /*&.number, &.datetime { text-align: right; }*/
  }
  th {
    /*position: relative;*/
    /*padding: 0 0px 0 0px;*/
    line-height: 24px;
    font-size: 12px;
    font-weight: 500;
    /*&:first-child { padding-left: 4px };*/
  }
  td {
    position: relative;
    padding: 0 0 0 26px;
    i.copy-to-clipboard {
      cursor: pointer;
      color: #888;
      display: none;
      position: absolute;
      right: 0px;
      top: 15px;
      font-size: 16px;
    }
    &.with_homenet {
      i {
        font-size: 18px;
        color: #888;
      }
      > span {
        > span:first-child {
          vertical-align: middle;
        }
      }
    }
    &:first-child { padding-left: 26px };
    &:hover {
      i.copy-to-clipboard {
        display: inline;
      }
    }
    span[title="Высокая"] { border-bottom: 2px solid red }
    span[title="Средняя"] { border-bottom: 2px solid orange }
    span[title="Низкая"] { border-bottom: 2px solid green }
  }
}

tbody.tbody-endpoint-incidents tr:not(.viewed) {
  background-color: #fff3e0;
}
